- provide(:title, 'Edit complete type')
%h2 Edit complete type
= simple_form_for(@complete_type) do |f|
  = render 'complete_type_form', f: f
  = f.submit "Save", class: "btn btn-primary"

%p
  = link_to '< back', :back, class: 'btn btn-primary'