- provide(:title, "#{@user.email}")
%h2
  User: #{@user.email}
%h2 Balance: #{number_to_currency(@user.balance)}
%p 
- if @user.bets.any?
  -#
    Тут выбор даты/календарь/пагинация
    %h4 Bets:
      = render @user.bets