%table.table.table-hover
  %thead
    %tr
      %th.column-20 Time
      %th.column-35 Match
      %th.column-25 Event
      %th Available
  %tbody  
    - @events.each do |event|
      %tr
        %td
          = link_to event.datetime_start.to_s, edit_event_path(event)
        %td
          = link_to event.first_side + " - " + event.second_side, edit_event_path(event)
        %td
          = link_to event.name, edit_event_path(event)
        %td
          = link_to "Make Bet!", "#"