= provide(:title, 'Help')
%h1 Help
%p
  %b How to envolve?
%ol
  %li
    = link_to "Register", new_user_registration_path 
    an account.
  %li Add funds to your balance.
  %li
    Choose an event from 
    = link_to "Upcoming Events", root_path
    list on the main page 
    or see the full list on
    = link_to "Events", events_path 
    page.
  %li Select side and/or result.
  %li Finish your bet.