= provide(:title, 'Help')
%h1 Help
%p
  %b How to envolve?
%ol
  %li
    %a{href: "/users/sign_up"} Register
    an account.
  %li Add funds to your balance.
  %li
    Choose an event from 
    %a{href: "/"} "Upcoming Events" list on the main page 
    or see the full list on
    %a{href: "/events"} "Events"
    page.
  %li Select side and/or result.
  %li Finish your bet.