= provide(:title, "Home")
%h2 Upcoming events:
= render "upcoming_events"
%h2 Recent events:
= render "recent_events"

= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-primary"
