local: &local
  adapter: postgresql
  username: postgres
  password:
  host: localhost

development:
  <<: *local
  database: omikron_dev

test:
  <<: *local
  database: omikron_test

production:
  <<: *local
  database: omikron_production